<div class="container">
 
  <div class="row">
<div class="col-2"> 
  <img src="https://www.lizardfootwear.com/_ui/responsive/common/images/no-product-image-available.png" class="card-img-top" alt="...">
</div> <h1> {{article.libelle}}</h1>
<div class="col-6"> 
    <p>Description: </p><!-- 

     -->
  </div>
</div>
<br/>
<div class="row">

<mat-icon [routerLink]="['/update']">edit</mat-icon>
<mat-icon (click)="delete(article.id)">delete</mat-icon></div>
<div class="row">
   <h3> {{article.prix}} euros</h3>
  <div class="col-md-3 ms-md-auto">
    <button class="btn-success" (click)="addToPanier()">Ajouter au panier</button></div>
</div>
 
</div>
