<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-4">
      <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="searchTitle" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchByTitle()">
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h4>Articles List</h4>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">Libelle</th>
          <th scope="col">Marque</th>
          <th scope="col">Prix</th>
          <th scope="col">Catégorie</th>
          <th scope="col">Photo</th>
          <th scope="col" style="min-width: 150px;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles;">
          <th scope="row">{{article.id}}</th>
          <td>{{article.libelle}}</td>
          <td>{{article.marque}}</td>
          <td>{{article.prix}}</td>
          <td>{{article.categorie}}</td>
          <td>{{article.photo}}</td>
          <td>
            <button type="button" class="btn btn-danger" routerLink="/articles/{{article.id}}">Detail</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>